@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    --pri-red: hsl(0, 100%, 67%); /* Reaction */
    --pri-orange-yellow: hsl(39, 100%, 56%); /* Memory */
    --pri-green-teel:  hsl(166, 100%, 37%); /* Verbal */
    --pri-cobalt-blue: hsl(234, 85%, 45%); /*Visual*/

    --pri-bg-red: hsla(0, 100%, 67%, 0.05); /* Reaction */
    --pri-bg-orange-yellow: hsla(39, 100%, 56%, 0.05); /* Memory */
    --pri-bg-green-teel:  hsla(166, 100%, 37%, 0.05); /* Verbal */
    --pri-bg-cobalt-blue: hsla(234, 85%, 45%, 0.05); /*Visual*/

    /* Gradients */
    --bg-light-slate-blue: hsl(252, 100%, 67%);
    --bg-light-royal-blue: hsl(241, 81%, 54%);

    --circle-violet-blue: hsla(256, 72%, 46%, 1);
    --circle-persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    /* Font Weight */
    --fw-500: 500;
    --fw-700: 700;
    --fw-800: 800;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Components */

.btn {
    font-family: inherit;
    width: 100%;
    border: none;
    padding: .8rem 0;
    border-radius: 30px;
    font-size: inherit;
    transition: all .3s ease-in-out;
}



body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.125rem; /* 18px */
}

img {
    max-width: 100%;
}


/* .card {
    display: flex;
    flex-wrap: wrap;
} */

.card .result {
    padding: 2rem;
    background: rgb(120,87,255);
    background: linear-gradient(180deg, rgba(120,87,255,1) 1%, rgba(46,43,233,1) 74%);
    text-align: center;    
    color: var(--light-lavender);
    border-radius: 0 0 2rem 2rem;
}

/* .card .result .result-heading {
} */

.result .points {
    overflow: hidden;
    margin: 1.5rem 0;
    padding: 1.5rem 2.5rem;
    /* border: 1px solid #000; */
    border-radius: 50%;
    display: inline-block;
    background: rgb(78,33,202);
    background: linear-gradient(180deg, rgba(78,33,202,0.9640231092436975) 57%, rgba(5,2,14,0) 96%);
}

.result .points .point {
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--white);
}

.result .comment {
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--white);
    letter-spacing: .8px;
    margin-bottom: .5rem;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem 2rem;
}

.summary h3 {
    padding-bottom: 1.5rem;
}

.category {
    display: flex;
    /* border: 1px solid #000; */
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 1rem;
    align-items: center;
    font-size: 1rem;
    border-radius: 10px;
    height: 50px;
}

.category .image {
    display: flex;
    gap: .5rem;
    font-weight: var(--fw-700);
}

.category .score {
    font-weight: 900;
}

.category .score p > span {
    color: rgba(0, 0, 0, .4);
}

.reaction {
    background-color: var(--pri-bg-red);
}

.memory {
    background-color: var(--pri-bg-orange-yellow);
}

.verbal {
    background-color: var(--pri-bg-green-teel);
}

.visual {
    background-color: var(--pri-bg-cobalt-blue);
}

.reaction .image p {
    color: var(--pri-red);
}

.memory .image p {
    color: var(--pri-orange-yellow);
}

.verbal .image p {
    color: var(--pri-green-teel);
}

.visual .image p {
    color: var(--pri-cobalt-blue);
}

.btn-continue {   
    background-color: var(--dark-gray-blue);
    color: var(--white);
    margin-top: 1rem;
    font-size: .9rem;
}

 .btn-continue:active {
    background: linear-gradient(180deg, rgba(120,87,255,1) 1%, rgba(46,43,233,1) 74%);
    
}

@media (hover: hover) {
    button:hover {
        background: linear-gradient(180deg, rgba(120,87,255,1) 1%, rgba(46,43,233,1) 74%); /* Solves problem of hover states being sticky in mobile devices */
        cursor: pointer;
    }
}

@media (min-width: 600px) {
  
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }    

    .card {
        /* border: 1px solid #000; */
        border-radius: 30px;
        overflow: hidden;
        /* margin: auto; */
        width: 650px;
        max-width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        place-content: center;
        box-shadow: 2px 5px 30px 10px var(--pri-bg-cobalt-blue);
    }

    .card .result {
        border-radius: 2rem;
    }

}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }