@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    --pri-red: hsl(0, 100%, 67%); /* Reaction */
    --pri-orange-yellow: hsl(39, 100%, 56%); /* Memory */
    --pri-green-teel:  hsl(166, 100%, 37%); /* Verbal */
    --pri-cobalt-blue: hsl(234, 85%, 45%); /*Visual*/

    --pri-bg-red: hsl(0, 100%, 67%); /* Reaction */
    --pri-bg-orange-yellow: hsl(39, 100%, 56%); /* Memory */
    --pri-bg-green-teel:  hsl(166, 100%, 37%); /* Verbal */
    --pri-bg-cobalt-blue: hsl(234, 85%, 45%); /*Visual*/

    /* Gradients */
    --bg-light-slate-blue: hsl(252, 100%, 67%);
    --bg-light-royal-blue: hsl(241, 81%, 54%);

    --circle-violet-blue: hsla(256, 72%, 46%, 1);
    --circle-persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.125rem; /* 18px */
}

.card .result {
    padding: 2rem;
    background: rgb(120,87,255);
    background: linear-gradient(180deg, rgba(120,87,255,1) 1%, rgba(46,43,233,1) 74%);
    text-align: center;    
    color: var(--light-lavender);
    border-radius: 0 0 2rem 2rem;
}

.card .result .result-heading {
}

.result .points {
    overflow: hidden;
    margin: 1.5rem 0;
    padding: 1.5rem 2.5rem;
    /* border: 1px solid #000; */
    border-radius: 50%;
    display: inline-block;
    background: rgb(78,33,202);
    background: linear-gradient(180deg, rgba(78,33,202,0.9640231092436975) 57%, rgba(5,2,14,0) 96%);
}

.result .points .point {
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--white);
}

.result .comment {
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--white);
    letter-spacing: .8px;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }